<!DOCTYPE html>
<html>
<head>
  <title>WhatsApp CRM</title>
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%- content %>
</body>
</html>
